.portfolio-container {
    background-color: white;
}

.portfolio {
    max-width: 1160px;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    gap: 20px;
}

.portfoliocard-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
}

.portfolio-left,
.portfolio-right {
    opacity: 0;
    flex: 1 1 0;
    transition: opacity 0.8s cubic-bezier(.4, 2, .6, 1), transform 0.8s cubic-bezier(.4, 2, .6, 1);
}

.portfolio-left {
    transform: translateX(-80px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    max-width: 45%;
}

.portfolio-right {
    transform: translateX(80px);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 55%;
    width: 100%;
    min-width: 0;
    height: 400px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
}

.slide-in-left {
    opacity: 1;
    transform: translateX(0);
}

.slide-in-right {
    opacity: 1;
    transform: translateX(0);
}

.portfoliocard-title {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.task {
    font-size: 1.2rem;
    font-weight: 500;
    color: #0D43FF;
}

.icon-minus {
    width: 20px;
    height: auto;
    object-fit: contain;
    display: inline-block;
}

.icon-github {
    width: 25px;
    height: auto;
}

.icon-github:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}


.portfoliocard-title h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.portfolio-left p {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 400;
    color: #555555;
    margin: 0;
}

.portfolio-right span {
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 400;
    color: white;
    padding: 40px;

}

.mockup {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: -40px;
}

.mockup:hover {
    transform: scale(1.1) rotate(5deg);
    transition: ease-in-out 0.5s;
}

@media only screen and (max-width: 1160px) {

    .portfolio {
        margin: 0 30px;
    }

    .portfoliocard-box {
        gap: 20px;
    }

    .portfolio-left {
        max-width: 40%;
    }

    .portfoliocard-title h3 {
        font-size: 1.3rem;
    }

    .portfolio-right {
        max-width: 60%;
    }

    .mockup {
        width: 90%;
    }

    .portfolio-right span {
        font-size: 0.875rem;
        line-height: 1.5;
        padding: 30px;
    }

    .portfolio-left p {
        font-size: 0.875rem;
        line-height: 1.7;
    }
}




@media only screen and (max-width: 768px) {

    .portfolio {
        max-width: 700px;
    }

    .portfoliocard-box {
        margin: 0 10px;
        gap: 20px;
        margin: 20px 0;
        box-sizing: border-box;
    }


    .portfolio-left {
        max-width: 45%;
    }

    .portfoliocard-title {
        align-items: center;
        gap: 10px;
    }

    .portfoliocard-title h3 {
        font-size: 1.2rem;
    }

    .icon-github {
        width: 20px;
        height: auto;
    }

    .portfolio-right {
        max-height: 300px;
        max-width: 55%;
    }

    .portfolio-right span {
        font-size: 0.8125rem;
        line-height: 1.5;
        padding: 30px;
    }

    .portfolio-left p {
        font-size: 0.8125rem;
        line-height: 1.7;
    }

}

@media only screen and (max-width: 480px) {
    .portfolio {
        max-width: 440px;
        align-content: center;
        margin: 0 auto;
        gap: 20px;
        padding: 50px 0;
    }

    .portfoliocard {
        flex-direction: column;
    }

    .portfoliocard-title h3 {
        font-size: 1rem;
    }

    .icon-github {
        width: 18px;
    }

}