.lastproject-container {
    background-color: white;
}

.lastproject {
    max-width: 1160px;
    width: calc(100% - 80px);
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.lastproject h2 {
    font-size: 1.5625rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
    letter-spacing: 2%;
    color: #545456;
    text-align: center;
}

.lastprojectcard-wrapper {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 20px;
}


.lastprojectcard-box {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cardlastproject span {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    padding: 40px;

}

.mockup {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin-bottom: -40px;
}

.mockup:hover {
    transform: scale(1.1) rotate(5deg);
    transition: ease-in-out 0.5s;
}

.lastprojectcard:hover {
    transform: scale(1.05);
}


.techno {
    margin-top: 0.325rem;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.techno span {
    font-size: 0.75rem;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 50px;
}


.techno #html {
    color: #E96228;
    border: #E96228 2px solid;
    
}

.techno #css {
    color: #2862E9;
    border: #2862E9 2px solid;
}

.techno #javascript {
    color: #d3b22e;
    border: #d3b22e 2px solid;
}

.techno #react {
    color: #09D2F6;
    border: #09D2F6 2px solid;
}

@media only screen and (max-width: 768px) {
    .lastproject {
        max-width: 700px;
        padding: 3.125rem 1.25rem;
    }

    .lastprojectcard-box {
        gap: 10px;
    }

    .lastproject h2 {
        font-size: 1.25rem;
        margin-bottom: 1.5625rem;
    }

    .lastproject-text h3 {
        font-size: 1.125rem;
    }

    .lastproject-text p {
        font-size: 0.874rem;
    }

}

@media only screen and (max-width: 480px) {
    .lastproject {
        max-width: 440px;
        margin: 0 1rem;
    }

    .lastprojectcard-box {
        flex-direction: column;
        align-content: center;
        margin: 0 auto;
        gap: 20px;
    }

    .lastprojectcard {
        max-width: 80%;
    }

    .lastproject h2 {
        margin-bottom: 1.25rem;
    }
}